@{

}

<div id="div1">

</div>

@section Scripts{
    <script src="~/js/travel.js"></script>

    <script>

        const docGrag = document.createDocumentFragment(); //==>先建立一空物件
        const divtag = document.getElementById("div1");
        console.log(DATAS);
        for (var item of DATAS) {
            const { Name, Add, Tel, Ticketinfo, Toldescribe } = item;
            const outli_element = document.createElement("ol");            
            let arr = [`名稱 : ${Name}`, `地址 : ${Add}`, `電話 : ${Tel}`, `票價 : ${Ticketinfo}`, `簡介 : ${Toldescribe}`];
            for (var node of arr) {
                const li_element = document.createElement("li");
                const text = document.createTextNode(node);
                li_element.appendChild(text);
                outli_element.appendChild(li_element);
            }
            docGrag.appendChild(outli_element);

            const hr_element = document.createElement("hr");
            docGrag.appendChild(hr_element);
            
        }

        divtag.appendChild(docGrag); //==>暫存器放回
    </script>
}