@{

}



<div>
    <select id="select_city" class="m-2">
    </select>
    <select id="select_site" class="m-2">
    </select>
    <select id="select_road" class="m-2">
    </select>
</div>


@section Scripts{
    <script>

        let urlstring = "@Url.Action("city","API")";

        const city_select = document.querySelector('#select_city');
        const site_select = document.querySelector('#select_site');
        const road_select = document.querySelector('#select_road');
        loadData(1);  // 1=>初始化  2=>改變city  3=>改變site

        city_select.addEventListener('change', () => {
            let currentcity = city_select.options[city_select.selectedIndex].value;
            urlstring = `/API/site?city=${currentcity}`;
            loadData(2);

        })

        site_select.addEventListener('change', () => {
            let currentsite = site_select.options[site_select.selectedIndex].value;
            urlstring = `/API/road?site=${currentsite}`;
            loadData(3);
        })

        async function loadData(flag) {
            let response = await fetch(urlstring);
            let datas = await response.json()

            if (flag==1) {
                addSelectitem(datas, city_select)
                let currentcity = city_select.options[0].value;
                urlstring = `/API/site?city=${currentcity}`;
                loadData(2);
            }
            else if (flag == 2) {
                addSelectitem(datas, site_select)
                let currentsite = site_select.options[0].value;
                console.log(currentsite);
                urlstring = `/API/road?site=${currentsite}`;
                loadData(3);
            }
            else if (flag == 3) {
                addSelectitem(datas, road_select)
            }

            urlstring = "";
        }

        async function removeOptions(selectElement) {
            let i, L = selectElement.options.length - 1;
            for (i = L; i >= 0; i--) {
                selectElement.remove(i);
            }
        }

        async function addSelectitem(datas, selecter) {
            removeOptions(selecter);
            for (let item of datas) {
                const opt = new Option(item, item);
                selecter.options.add(opt);
            }
        }
    </script>

}
